# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env

# Database
*.db
*.sqlite
*.sqlite3
*.bin
backend/chroma_db/
backend/app/chroma_db/

backend/database.db

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Project specific
start.bat.bak
